<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUnNnGaKIlINyNBSjeNEjRO3hucH3arPc</string>
	<key>GCM_SENDER_ID</key>
	<string>512227673117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ecommerce.eCommerceAplication</string>
	<key>PROJECT_ID</key>
	<string>store-001-2001</string>
	<key>STORAGE_BUCKET</key>
	<string>store-001-2001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512227673117:ios:573e7ad257602000c0b2f4</string>
</dict>
</plist>